<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Админка</title>
    <script>
        function getAllUsers() {
            fetch('api/user/')
                .then(response => response.json())
                .then(users => userDataContainer.innerHTML = JSON.stringify(users));
        }
    </script>
</head>

<body>
<!-- todo create new user -->

<!-- todo get users list by button-->
<h1>Список всех пользователей:</h1>
<button onclick="getAllUsers()">Получить</button>
<pre id="userDataContainer"></pre>

<!--<h4>Получить пользователя по id</h4>-->
<!--<input type="text" id = "userIdTextBox" value="3" placeholder="Введите id пользователя">-->
<!--<button onclick="getUserById()">Получить</button>-->
<!--<pre id = "userDataContainer"></pre>-->

<!--<h4>Случайный пользователь</h4>-->
<!--<table style="width: 400px">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <td style="width: 50px">Id</td>-->
<!--            <td style="width: 150px">Имя</td>-->
<!--            <td style="width: 100px">Логин</td>-->
<!--            <td style="width: 100px">Пароль</td>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        <tr>-->
<!--        </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>
